.color1 {
  background-color: var(--color1);
  color: var(--color3);
}

.color2 {
  background-color: var(--color2);
  color: var(--color3);
}

.color3 {
  background-color: var(--color3);
  color: var(--color2);
}
