#about {
  visibility: hidden;
  height: 0;
  width: 0;
}

.about {
  margin: 0;
  margin-top: 64px;
  height: 400px;
  width: 100%;

  display: flex;
  align-items: center;
  overflow: hidden;

  background-color: var(--color4);
  background-image: url(./images/image_bg_1-min.png);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-container {
  margin-left: 24px;
  border-radius: 5px;
  background-color: var(--color1);
  padding: 24px;
}

@media only screen and (max-width: 48em) {
  .about {
    background-color: var(--color1);
  }

  .about-container {
    margin: 0;
  }
}

@media only screen and (max-width: 68em) {
  .about {
    background-color: var(--color1);
  }
}

@media only screen and (max-width: 75em) {
}
