.contacts {
  padding: 0;
}

.contacts-container {
  margin-top: 24px;
}

.contact {
  display: flex;
  justify-content: start;
}

.contact-container {
  display: flex;
}

.contact__phone,
.contact__mail,
.contact__access-time,
.contact__address {
  margin-bottom: 24px;
}

.contact__mail {
  font-family: Arial, Helvetica, sans-serif;
}

.contact__addres {
  margin-top: 15px;
}

.icon {
  margin-right: 16px;
  margin-top: 8px;
}

.icon::before {
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  position: relative;
  top: 5px;
}

.menu__contacts .icon {
  margin-right: 8px;
  margin-top: -8px;
}

.menu__contacts .contact__phone,
.menu__contacts .contact__mail {
  margin-top: 8px;
  margin-bottom: 0;
}

.mail::before {
  /* background-image: url(../../images/icons/mail_outline-24px.svg); */
  background-image: url(./images/icons/mail_outline-24px.svg);
}

.phone::before {
  /* background-image: url(../../images/icons/phone-24px.svg); */
  background-image: url(./images/icons/phone-24px.svg);
}

.access-time::before {
  /* background-image: url(../../images/icons/access_time-24px.svg); */
  background-image: url(./images/icons/access_time-24px.svg);
}

.address::before {
  /* background-image: url(../../images/icons/map-24px.svg); */
  background-image: url(./images/icons/map-24px.svg);
  display: inline-block;
}

.map {
  margin: 0;
  padding: 0;
  margin-top: 64px;
  border-radius: 5px;
  overflow: hidden;
}
