.menu {
  position: fixed !important;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: var(--color1);

  display: flex;
  justify-content: center;
}

.menu-container {
  margin: 0;
  padding: 0;
  padding: 10px;
  height: 64px;
  width: 100%;
  max-width: 1280px;
  border-bottom: 2px solid var(--color3);
}

.menu__logo {
  height: 44px;
}

.menu__navigation {
  height: 44px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu__contacts {
  position: relative;
  top: -8px;
}
